[submodule "SubModule/tmcrando_maptracker_deoxis"]
	path = SubModule/tmcrando_maptracker_deoxis
	url = https://github.com/deoxis9001/tmcrando_maptracker_deoxis.git
	branch = Beta
[submodule "SubModule/EmoTracker-Service"]
	path = SubModule/EmoTracker-Service
	url = https://github.com/EmoTracker-Community/EmoTracker-Service
[submodule "SubModule/randomizer"]
	path = SubModule/randomizer
	url = https://github.com/minishmaker/randomizer
	branch = staging
